
.dropdownContent {
  display: none;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
  
.dropdownContent.show {
  display: block;
  transform: translateY(0);
}

@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}